<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="RHTCategory"
            id="net.uwlau.plugin.rhtools.rhtoolsCommand.category">
      </category>
      <command
            name="Run"
            categoryId="net.uwlau.plugin.rhtools.rhtoolsCommand.category"
            id="net.uwlau.plugin.rhtools.commands.rhtoolsRunCommand">
      </command>
      <command
            categoryId="net.uwlau.plugin.rhtools.rhtoolsCommand.category"
            id="net.uwlau.plugin.rhtools.commands.rhtoolsConfigCommand"
            name="Configuration">
      </command>
      <command
            categoryId="net.uwlau.plugin.rhtools.rhtoolsCommand.category"
            id="net.uwlau.plugin.rhtools.commands.rhtoolsAboutCommand"
            name="About">
      </command>
      <command
            categoryId="net.uwlau.plugin.rhtools.rhtoolsCommand.category"
            id="net.uwlau.plugin.rhtools.commands.rhtoolsExecNowCommand"
            name="exec_now">
      </command>
      <command
            categoryId="net.uwlau.plugin.rhtools.rhtoolsCommand.category"
            id="net.uwlau.plugin.rhtools.commands.rhtoolsKillNowCommand"
            name="kill_now">
      </command>
      <command
            categoryId="net.uwlau.plugin.rhtools.rhtoolsCommand.category"
            id="net.uwlau.plugin.rhtools.commands.rhtoolsRebootNowCommand"
            name="RebootNow">
      </command>
      <command
            categoryId="net.uwlau.plugin.rhtools.rhtoolsCommand.category"
            id="net.uwlau.plugin.rhtools.commands.rhtoolsCopyNowCommand"
            name="CopyNow">
      </command>
      <command
            categoryId="net.uwlau.plugin.rhtools.rhtoolsCommand.category"
            id="net.uwlau.plugin.rhtools.commands.rhtoolsShutdownNowCommand"
            name="ShutdownNow">
      </command>
      <command
            categoryId="net.uwlau.plugin.rhtools.rhtoolsCommand.category"
            id="net.uwlau.plugin.rhtools.commands.rhtoolsCustomNowCommand"
            name="CustomNow">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="net.uwlau.plugin.rhtools.commands.rhtoolsRunCommand"
            class="net.uwlau.plugin.rhtools.handlers.RunHandler">
      </handler>
      <handler
            class="net.uwlau.plugin.rhtools.handlers.ConfigHandler"
            commandId="net.uwlau.plugin.rhtools.commands.rhtoolsConfigCommand">
      </handler>
      <handler
            class="net.uwlau.plugin.rhtools.handlers.AboutHandler"
            commandId="net.uwlau.plugin.rhtools.commands.rhtoolsAboutCommand">
      </handler>
      <handler
            class="net.uwlau.plugin.rhtools.handlers.CopyNowHandler"
            commandId="net.uwlau.plugin.rhtools.commands.rhtoolsCopyNowCommand">
      </handler>
      <handler
            class="net.uwlau.plugin.rhtools.handlers.ExecNowHandler"
            commandId="net.uwlau.plugin.rhtools.commands.rhtoolsExecNowCommand">
      </handler>
      <handler
            class="net.uwlau.plugin.rhtools.handlers.KillNowHandler"
            commandId="net.uwlau.plugin.rhtools.commands.rhtoolsKillNowCommand">
      </handler>
      <handler
            class="net.uwlau.plugin.rhtools.handlers.ShutdownNowHandler"
            commandId="net.uwlau.plugin.rhtools.commands.rhtoolsShutdownNowCommand">
      </handler>
      <handler
            class="net.uwlau.plugin.rhtools.handlers.RebootNowHandler"
            commandId="net.uwlau.plugin.rhtools.commands.rhtoolsRebootNowCommand">
      </handler>
      <handler
            class="net.uwlau.plugin.rhtools.handlers.CustomNowHandler"
            commandId="net.uwlau.plugin.rhtools.commands.rhtoolsCustomNowCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.uwlau.plugin.rhtools.commands.rhtoolsRunCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="net.uwlau.plugin.rhtools.commands.rhtoolsConfigCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+7">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="net.uwlau.plugin.rhtools.menus.rhtools"
               label="RHTools"
               mnemonic="M">
            <command
                  commandId="net.uwlau.plugin.rhtools.commands.rhtoolsRunCommand"
                  icon="icons/run.gif"
                  id="net.uwlau.plugin.rhtools.menus.rhtoolsCommand"
                  label="Run..."
                  mnemonic="S">
            </command>
            <command
                  commandId="net.uwlau.plugin.rhtools.commands.rhtoolsConfigCommand"
                  icon="icons/config.gif"
                  id="net.uwlau.plugin.rhtools.menus.rhtoolsCommand"
                  label="Configurations"
                  mnemonic="S">
            </command>
            <command
                  commandId="net.uwlau.plugin.rhtools.commands.rhtoolsAboutCommand"
                  icon="icons/info.gif"
                  id="net.uwlau.plugin.rhtools.menus.rhtoolsCommand"
                  label="About"
                  mnemonic="S">
            </command>
            <command
                  commandId="net.uwlau.plugin.rhtools.commands.rhtoolsCopyNowCommand"
                  id="net.uwlau.plugin.rhtools.menus.rhtoolsCommand"
                  label="Copy Binary"
                  mnemonic="S">
            </command>
            <command
                  commandId="net.uwlau.plugin.rhtools.commands.rhtoolsExecNowCommand"
                  id="net.uwlau.plugin.rhtools.menus.rhtoolsCommand"
                  label="Exec Binary"
                  mnemonic="S">
            </command>
            <command
                  commandId="net.uwlau.plugin.rhtools.commands.rhtoolsKillNowCommand"
                  id="net.uwlau.plugin.rhtools.menus.rhtoolsCommand"
                  label="Kill Binary"
                  mnemonic="S">
            </command>
            <command
                  commandId="net.uwlau.plugin.rhtools.commands.rhtoolsCustomNowCommand"
                  id="net.uwlau.plugin.rhtools.menus.rhtoolsCommand"
                  label="Custom Command"
                  mnemonic="S">
            </command>
            <command
                  commandId="net.uwlau.plugin.rhtools.commands.rhtoolsShutdownNowCommand"
                  id="net.uwlau.plugin.rhtools.menus.rhtoolsCommand"
                  label="Shutdown Device"
                  mnemonic="S">
            </command>
            <command
                  commandId="net.uwlau.plugin.rhtools.commands.rhtoolsRebootNowCommand"
                  id="net.uwlau.plugin.rhtools.menus.rhtoolsCommand"
                  label="Reboot Device"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="net.uwlau.plugin.rhtools.toolbars.rhtoolsToolbar">
            <command
                  commandId="net.uwlau.plugin.rhtools.commands.rhtoolsRunCommand"
                  icon="icons/run.gif"
                  tooltip="RHTools *RUN"
                  id="net.uwlau.plugin.rhtools.toolbars.run">
            </command>
            <command
                  commandId="net.uwlau.plugin.rhtools.commands.rhtoolsConfigCommand"
                  icon="icons/config.gif"
                  id="net.uwlau.plugin.rhtools.toolbars.config"
                  tooltip="RHTools *CONFIG">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
