<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="RHTCategory"
            id="uwlau.plugin.rhtools.rhtoolsCommand.category">
      </category>
      <command
            name="Run"
            categoryId="uwlau.plugin.rhtools.rhtoolsCommand.category"
            id="uwlau.plugin.rhtools.commands.rhtoolsRunCommand">
      </command>
      <command
            categoryId="uwlau.plugin.rhtools.rhtoolsCommand.category"
            id="uwlau.plugin.rhtools.commands.rhtoolsConfigCommand"
            name="Configuration">
      </command>
      <command
            categoryId="uwlau.plugin.rhtools.rhtoolsCommand.category"
            id="uwlau.plugin.rhtools.commands.rhtoolsReadmeCommand"
            name="Readme ">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="uwlau.plugin.rhtools.commands.rhtoolsRunCommand"
            class="uwlau.plugin.rhtools.handlers.RunHandler">
      </handler>
      <handler
            class="uwlau.plugin.rhtools.handlers.ConfigHandler"
            commandId="uwlau.plugin.rhtools.commands.rhtoolsConfigCommand">
      </handler>
      <handler
            class="uwlau.plugin.rhtools.handlers.ReadmeHandler"
            commandId="uwlau.plugin.rhtools.commands.rhtoolsReadmeCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="uwlau.plugin.rhtools.commands.rhtoolsRunCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="uwlau.plugin.rhtools.commands.rhtoolsConfigCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+7">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="uwlau.plugin.rhtools.menus.rhtools"
               label="RHTools"
               mnemonic="M">
            <command
                  commandId="uwlau.plugin.rhtools.commands.rhtoolsRunCommand"
                  icon="icons/run.gif"
                  id="uwlau.plugin.rhtools.menus.rhtoolsCommand"
                  label="Run..."
                  mnemonic="S">
            </command>
            <command
                  commandId="uwlau.plugin.rhtools.commands.rhtoolsConfigCommand"
                  icon="icons/config.gif"
                  id="uwlau.plugin.rhtools.menus.rhtoolsCommand"
                  label="Configurations"
                  mnemonic="S">
            </command>
            <command
                  commandId="uwlau.plugin.rhtools.commands.rhtoolsReadmeCommand"
                  icon="icons/info.gif"
                  id="uwlau.plugin.rhtools.menus.rhtoolsCommand"
                  label="Readme"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="uwlau.plugin.rhtools.toolbars.rhtoolsToolbar">
            <command
                  commandId="uwlau.plugin.rhtools.commands.rhtoolsRunCommand"
                  icon="icons/run.gif"
                  tooltip="RHTools *RUN"
                  id="uwlau.plugin.rhtools.toolbars.run">
            </command>
            <command
                  commandId="uwlau.plugin.rhtools.commands.rhtoolsConfigCommand"
                  icon="icons/config.gif"
                  id="uwlau.plugin.rhtools.toolbars.config"
                  tooltip="RHTools *CONFIG">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
